<nav class="navbar navbar-default c-header" ng-controller="HeaderController as header">

    <div class="c-header__logo">
      <img src="http://placehold.it/50x50">
    </div>

    <div class="navbar-header c-navigation" ng-class="{'is-open': header.menuOpened}">
      <a href="/home" class="navbar-brand">
        Home
      </a>
      <a href="/help-and-tips" class="navbar-brand c-navigation__item">
        Help & Tips
      </a>
      <a class="navbar-brand c-navigation__item">
        Contact
      </a>
      <a class="navbar-brand c-navigation__item">
        Support
      </a>
      <button type="button" class="navbar-brand  c-navigation__item btn">
        Login
        <i class="glyphicon glyphicon-off"> 
        </i>
      </button>
    </div>

    <form class="c-searchBar">
      
      <input type="text" class="c-searchBar__field">
      <button class="c-searchBar__button">
        <i class="glyphicon glyphicon-search"> 
        </i>
      </button>
    </form>

    <button class="c-header__menuTrigger" ng-click="header.menuOpened = !header.menuOpened">
      <i class="glyphicon glyphicon-align-justify">
      </i>
    </button>

</nav>