<div class="u-layout__container">
  <h2>Home</h2>

  <section class="presentation">
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.
    </p>
  </section>

  <section class="highlights">
    <ul class="c-searchList">
      <div class="c-searchList__item">
        <div class="c-searchList__description">
          <h4>
            Breed of the dog
          </h4>
          <span>
            Dog's age
          </span>
          <span>
            Dog's size
          </span>
          <span>
            Dogs's weight
          </span>
          <p>
            Dog's quick description must be here Dog's quick description must be here Dog's quick description must be here Dog's quick description must be here
          </p>
        </div>
        <div class="c-searchList__picture">
          <img src="http://placehold.it/140x140">
        </div>
      </div>
      <div class="c-searchList__item">
        <div class="c-searchList__description">
          <h4>
            Breed of the dog
          </h4>
          <span>
            Dog's age
          </span>
          <span>
            Dog's size
          </span>
          <span>
            Dogs's weight
          </span>
          <p>
            Dog's quick description must be here Dog's quick description must be here Dog's quick description must be here Dog's quick description must be here
          </p>
        </div>
        <div class="c-searchList__picture">
          <img src="http://placehold.it/300x300">
        </div>
      </div>
      <div class="c-searchList__item">
        <div class="c-searchList__description">
          <h4>
            Breed of the dog
          </h4>
          <span>
            Dog's age
          </span>
          <span>
            Dog's size
          </span>
          <span>
            Dogs's weight
          </span>
          <p>
            Dog's quick description must be here Dog's quick description must be here Dog's quick description must be here Dog's quick description must be here
          </p>
        </div>
        <div class="c-searchList__picture">
          <img src="http://placehold.it/140x140">
        </div>
      </div>
    </ul>
  </section>
	<p>
		<a href="/help-and-tips">Wow1</a>
  </p>
	<p>
		<a href="/a2">Wow2</a>
  </p>
	<p>
		<a href="/a3">Wow3</a>
  </p>
</div>